#top {
    display: none;
}

#breadcrumbs {
    display: none;
}

section {
    padding: 0 !important;
}

footer, .footer-section {
    display: none !important;
}

#markdown {
    padding: 0 !important;
    margin: 0 !important;
}

#markdown td, #markdown th, #markdown h1, #markdown h2 {
    border-color: #7a7a7a !important;
}

.toc {
    display: none;
}